EXPO_PUBLIC_SUPABASE_URL=https://yqpeebgmqtqoxumzfrsq.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_GaoXNE-0hGpMDv3cMy3QDA_UfQuvvIM
EXPO_PUBLIC_TRACKING_API_URL=https://yqpeebgmqtqoxumzfrsq.supabase.co/functions/v1/driver-tracking
